*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 #Calculator{
    margin: auto;
    margin-top: 100px;
    width: 500px;
    border: 1.5px solid black;
    border-radius: 5px;

}

 #header{
    text-align: center;
 }

div #buttons{
    display: flex;
    gap: 10px;
    justify-content: center;
}

#numbers-btns{
    width: 250px;
    height: 100px;
    margin: 2px;
}
.signs{
    width: 150px;
    height: 100px;
    margin: 2px;
}
button{
    width: 35px;
    height: 35px;
    margin: 3px;
    font-size: x-large;
}

input{
    margin: 20px;
    width: 250px;
    height: 50px;
    padding: 20px;
}